<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js/debug[\/]?" />
        </rule>

        <rule name="StaticContent" stopProcessing="true">
          <match url="public/(.*)" />
          <action type="None" />
        </rule>

        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="false" />

    <!-- Keep Express/Node error responses instead of IIS generic error page -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>